@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .clip-it {
    clip-path: polygon(20% 0%, 100% 0, 80% 100%, 0% 100%);
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #0a0a0a;
    --background: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
